*{
	background-color: white;

}
#img-style{
	width: 100%;
	height: auto;
	object-fit:cover;

}

.main-egy{
	display: flex;
}
.heer{
	background-color: white;
	width: 100%;
	height: auto;
}

.lopu{
	width: 65%;
	height: auto;
	background-color: white;
	display: flex;

}
.mvtr{
	width: 70%;
	height: auto;
	background-color: white;
}
.pweq{
	width: 30%;
	height: 300px;
	background-color: white;
}
.img-pou{
	width: 100%;
	height: auto;
	background-color: white;
}
.text-pou{
	width: 100%;
	height: auto;
	background-color: white;
}
.mkod{
	background-color: white;
	width: 35%;
	height: auto;
}
.scrollpoiu{
	display: flex;
	gap: 10px;
	overflow: auto;
}
.boxx1{
	min-width: 240px;
	height: auto;
	background-color: gold;
	
}
.kgttg{
	width: 100%;
	height: auto;
	background-color: white;
}

@media only screen and (max-width: 900px) {

.main-egy{
	display: block;
}
.lopu{
	width: 100%;
	height: auto;
	background-color: blue;
	display: flex;

}
.mkod{
	background-color: white;
	width: 100%;
	height: auto;
}

}